@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBarHover {
    @apply h-14 px-5 rounded-full bg-transparent flex items-center justify-center gap-2 hover:bg-lightdark duration-300 cursor-pointer;
  }
  .bottomNavLi {
    @apply hover:underline underline-offset-2 cursor-pointer decoration-[1px] duration-200 text-dark;
  }
  .bottomFooterHover {
    @apply hover:text-white duration-200 ml-2 cursor-pointer;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background: #bf1f2e;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
