.search-results {
  position: absolute;
  z-index: 40;
  width: calc(100% - 48px);
  display: flex;
  flex-direction: column;
  top: 52px;
  left: 24px;
  background: #fff;
  
  .search-result-item {
      button,
      &.no-results {
        padding: .25rem .5rem;
        border-bottom: 1px solid lightgray;
        text-align: left;
      }

      button:hover {
        cursor: pointer;
        background: lightgray;
      }

      &:last-child {
          border-bottom: none;
      }
  }
}

#restaurant-search-input {
  padding-right: 3.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
